body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.line-one {
    margin-bottom: 0%;
}

.line-two {
    margin-top: 0%;
}

.banner-part {
    text-align: center;
    color: white;
    margin: 0px;
    padding: 10%;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}

.link-button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 6%;

}