body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;


}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.line-one {
    margin-bottom: 0%;
}

.line-two {
    margin-top: 0%;
}

.banner-part {
    text-align: center;
    color: white;
    padding: 15% 0 15% 0;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-width: 0;

}

.link-button {
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 6%;

}

.second-part {
    text-align: center;
    margin-top: 10%;
}

.amount-section {
    display: flex;
    text-align: center;
}

.amount-op {
    margin: 10px;
    padding: 20px 20px;
    background-color: rgb(221, 215, 215);
    border-radius: 5%;
    color: grey;
}

#red-op {
    color: red;
    border: solid red;
}

.footer {
    text-align: center;
    color: gray;
}

.peament-sec {
    margin: 5% 25%;
    margin-bottom: 2%;
    border-bottom: solid gray;
}

.second-button {
    text-align: center;
    margin-top: 0px;
}

.donate-plan {
    text-align: center;
    margin-top: 10%;
}

.donate-plan-sec {
    display: flex;
    margin: 7%;

}

.plan-one {
    background-color: rgba(122, 237, 237, 0.577);
    margin: 10px;
    padding: 20px 15px;
    box-shadow: 10px 10px 5px lightblue;
}

.plan-two {
    background-color: rgba(182, 227, 104, 0.64);
    margin: 10px;
    padding: 20px 15px;
    box-shadow: 10px 10px 5px lightblue;
}

.plan-three {
    background-color: rgba(164, 88, 236, 0.56);
    margin: 10px;
    padding: 20px 15px;
    box-shadow: 10px 10px 5px lightblue;
}

.donation-blog {
    display: flex;
    margin-top: 10%;
    margin-left: 3%;

}

.half-width {
    width: 50%;
    padding: 5%;

}

.last-part {
    text-align: center;
}

.submit {
    text-align: center;
}

.last-section {
    margin-top: 7%;
    background-color: aquamarine;
    padding: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

.subscribe {
    text-decoration: none;
    background-color: tomato;
    color: white;
    font-weight: 300;
    padding: 0 20px;
    border-radius: o;
    margin-left: -5px;
    margin-top: 0;
}